*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: beige;
}

section.chat_app{
    width: 800px;
    max-width: 90%;
    background-color: #a6e2ee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.brand{
    padding: 20px;
    background-color: azure;
    display: flex;
    align-items: center;
}

.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color:teal;
    margin-left: 10px;
}

.msgarea{
height: 500px;
padding: 15px;
display: flex;
flex-direction: column;
overflow-y: auto;
padding-top: 40px;
}
textarea{
    width: 100%;
    border:none;
    padding: 20px;
    font-size: 16px;
    outline: none;
}

.msg{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming{
    background-color: blueviolet;
    color: white;
}

.outgoing{
    background-color: red;
    color: white;
    margin-left: auto;

}
.msg h4{
    position: absolute;
    top:-20px;
    left:0;
    color: #333;
    font-size: 14px;


}

#logout{
    text-align: right;
}